.readMore {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 100px;
}

.readMore:focus {
  outline: 1px dotted #28666e;
}
