.articles {
  max-width: 1200px;
  margin-inline: auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(auto, 1fr);
}
